/*This is the intended CSS file for the website designs.*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	background: #ddd;
	min-height: 200vh;
	margin: 0;
	padding: 0;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
}
header.sticky{
	padding: 20px 100px;
	background: #fff;
}
header .logo{
	position: relative;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li{
	position: relative;
	list-style: none;
}
header ul li a{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500px;
}
.footer{
	color: #000;
	width: 100%;
	text-align: center;
	padding: 0px 0px;
}
.footer h4{
	margin-bottom: 25px;
	margin-top: 300px;
	font-weight: 600;
	text-align: center;
}
.footer p{
	font-weight: 200;
	text-align: center;
	color: #000;
}
/*--Home Page Banner--*/
.banner{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(images/blueprint.png);
	background-size: cover;
}
.banner h1,p{
	font-size: 80px;
	color: #fff;
	text-align: center;
}
.banner p{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
/*--Week 1 Banner --*/
.banner1{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/brainstorm.jpg);
	background-size: cover;
}
.banner1 h1{
	font-size: 80px;
	color: #fff;
	text-align: center;
}
.banner1 p{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
/*--Week 2 Banner --*/
.banner2{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/sketches.jpg);
	background-size: cover;
}
.banner2 h1{
	font-size: 80px;
	color: #fff;
	text-align: center;
}
.banner2 p{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
/*--Week 3 Banner --*/
.banner3{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/concept.jpg);
	background-size: cover;
}
.banner3 h1{
	font-size: 80px;
	color: #fff;
	text-align: center;
}
.banner3 p{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
/*--Week 4 Banner --*/
.banner4{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/engine.jpg);
	background-size: cover;
}
.banner4 h1{
	font-size: 80px;
	color: #fff;
	text-align: center;
}
.banner4 p{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
/*--Week 5 Banner --*/
.banner5{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/robots.jpg);
	background-size: cover;
}
.banner5 h1{
	font-size: 80px;
	color: #fff;
	text-align: center;
}
.banner5 p{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
/*--Week 6 Banner --*/
.banner6{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/injection-molding.jpg);
	background-size: cover;
}
.banner6 h1{
	font-size: 80px;
	color: #fff;
	text-align: center;
}
.banner6 p{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
/*--Week 7 Banner --*/
.banner7{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bom.jpg);
	background-size: cover;
}
.banner7 h1{
	font-size: 80px;
	color: #fff;
	text-align: center;
}
.banner7 p{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.para-1{
	position: absolute;
	top: 45%;
	left: 27%;
}
.para-2{
	width: 80%;
	position: absolute;
	top: 45%;
	left: 10%;
}
.para-3{
	width: 80%;
	position: absolute;
	top: 45%;
	left: 10%;
}
/*---Banner (All Tabs) --*/
header.sticky .logo,
header.sticky ul li a{
	color: #000;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
}
.menu-bar ul li{
	width: 165px;
	margin: 0px;
	padding: 10px;
	text-align: center;
}
.menu-bar ul li a{
	text-decoration: none;
}
.active, .menu-bar ul li:hover{
	background: #808080;
	border-radius: 0px;
}
.sub-menu-1{
	display: none;
	border-radius: 0px;
}
.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background: rgb(128,128,128);
	margin-top: 10px;
	margin-left: -10px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
	width: 145px;
	padding: 10px;
	border-bottom: 1px dotted #000;
	background: transparent;
	border-radius: 0;
	text-align: middle;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	color: #0cbfe9;
}
.first-one{
	width: 80%;
	margin: auto;
	text-align: left;
	padding-top: 50px;
	padding-bottom: 100px;
	color: #000;
}
.first-one h2, h3, p{
	text-align: left;
	padding-left: 20px;
	color: #000;
}
.first-one p{
	font-size: 16px;
	padding-left: 20px;
	color: #000;
}
/*---Week 1 Concepts Display --*/
.features{
	width: 80%;
	margin: auto;
	margin-top: 0px;
	text-align: center;
	padding-top: 100px;
}
h1{
	color: #000;
	font-weight: 600;
	padding-left: 20px;
	text-align: left;
}
p{
	color: #ff5;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	padding: 10px;
}
.row{
	margin-top: 0%;
	display: flex;
	justify-content: space-between;
}
.intro-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	transition: 1s;
}
.intro-col img{
	width: 100%;
	display: block;
}
.intro-col h3{
	text-align: center;
}
.intro-col:hover{
	transform: scale(1.3);
	z-index: 100000;
}
.layer{
	background: transparent;
	color: #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(4,9,30,0.5);
}
.layer h3{
	width: 80%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 45%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layer p{
	width: 80%;
	font-weight: 200;
	color: #fff;
	font-size: 12px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layer:hover h3{
	bottom: 70%;
	opacity: 1;
}
.layer:hover p{
	bottom: 10%;
	opacity: 1;
}


/*--Weeks 4, 5 and 6 Image Sliders  (No captions)--*/
.slidershow{
	width: 500px;
	height: 400px;
	overflow: hidden;
}
.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,250%);
}
.navigation{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
}
.bar{
	width: 50px;
	height: 10px;
	border: 2px solid #fff;
	margin: 6px;
	cursor: pointer;
	transition: 0.4s;
}
.bar:hover{
	background: #fff;

}
input[name="r"]{
	position: absolute;
	visibility: hidden;
}

.slides{
	width: 500%;
	height: 100%;
	display: flex;
}
.slide{
	width: 20%;
	transition: 0.6s;
}
.slide img{
	width: 100%;
	height: 100%;
}
#r1:checked ~ .s1{
	margin-left: 0;
}
#r2:checked ~ .s1{
	margin-left: -20%;
}
#r3:checked ~ .s1{
	margin-left: -40%;
}
#r4:checked ~ .s1{
	margin-left: -60%;
}
#r5:checked ~ .s1{
	margin-left: -80%;
}

/*--Weeks 3 and 7 Image slider with Captions--*/

div.gallery{
	margin: 55px;
	border: 1px solid #ccc;
	float: left;
	width: 300px;
}
.imagegallery{
	width: 80%;
	margin: auto;
	text-align: left;
	padding-top: 0px;
	padding-bottom: 100px;
	color: #000;	
}
.imagegallery h2{
	text-align: left;
	padding-left: 20px;
	color: #000;
}

div.gallery img{
	width: 100%;
	height: 200px;
}

div.gallery:hover{
	border: 1px solid #777;
}

.container{
	font-family: 'Roboto', sans-serif;
	position: relative;
	margin: 0 auto;
}
.container .content{
	position: absolute;
	bottom: 0;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
	color: #f1f1f1;
	width: 100%;
	height: 30%;
	padding: 10px;
}
.image {
	width: 100%;
	height: auto;
	display: block;
}





























